<article class="col-12 col-md-6 mb-3">
    <div class="card h-100 w-100" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title pb-3 border-bottom border-dark">{{ article.title }}</h5>
            <h6 class="card-subtitle mt-4 mb-2 text-muted ">Publié par {{ article.user.pseudo }}
                le {{ article.createdAt|date("d M Y") }}
                {% if article.createdAt != article.updatedAt %}
                    modifié le {{ article.updatedAt|date("d M Y") }}
                {% endif %}

            </h6>
            <p class="card-text">{{ article.chapo }}</p>
        </div>
        <a href="{{ url_domain }}article?numero={{ article.id }}" class="card-link me-4 mb-3" style="text-align: end;">Voir le détail</a>
    </div>
</article>