<h2 class="pb-2">{{ article.title }}</h2>

<p class="pb-2">{{ article.chapo }}</p>

<p>{{ article.content }}</p>
<div class="row">
    <div class="col-6 text-start">
        Le {{ article.createdAt|date("d M Y à h:i") }} par {{ article.user.pseudo }}
        {% if article.createdAt != article.updatedAt %}
            modifié le {{ article.updatedAt|date("d M Y") }}
        {% endif %}
    </div>
    <div class="col-6 text-end"><a href="{{ url_domain }}articles" class="btn btn-primary">Retour à la liste</a></div>
</div>
