{% if max_page > 1 %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item {{ current_page > 1 ? "" : "disabled" }}">
            <a class="page-link" href="{{ url_to_paginate }}{{ current_page - 1 }}">Previous</a>
        </li>
        {% for i in 1..max_page %}
            <li class="page-item {{ i == current_page ? "active" : "" }}">
                <a class="page-link" href="{{ url_to_paginate }}{{ i }}">{{ i }}</a>
            </li>
        {% endfor %}
        <li class="page-item {{ current_page < max_page ? "" : "disabled" }}">
            <a class="page-link" href="{{ url_to_paginate }}{{ current_page + 1 }}">Next</a>
        </li>
    </ul>
</nav>
{% endif %}