<div class="row mb-3">
    <div class="col-6 text-end">
        {% if previous_entity is not null %}
            <img src="{{ url_domain }}images/arrow-24.png" alt="flèche" width="24" title="arraw" class="rotation180">
            <a href="{{ url_domain }}article?numero={{ previous_entity.id }}">Article précédent</a>
        {% endif %}
    </div>
    <div class="col-6 text-start">
        {% if next_entity is not null %}
            <a href="{{ url_domain }}article?numero={{ next_entity.id }}">Article suivant</a>
            <img src="{{ url_domain }}images/arrow-24.png" alt="flèche" width="24" title="arraw">
        {% endif %}
    </div>
</div>