<div class="container">
    <footer class="bg-black text-white text-center" id="lien">
        <div class="my-3 mx-0">
            <a href="https://github.com/genesis59" class="mx-3" target="_blank">
                <img src="{{ url_domain }}images/octocat-github.png" alt="logo gitlab" width="48" title="github">
            </a>
            <a href="https://www.linkedin.com/in/grégory-vandevraye/" class="mx-3" target="_blank">
                <img src="{{ url_domain }}images/logo-linkedin.png" alt="logo gitlab" width="48" title="linkedIn">
            </a>
            <a href="https://gitlab.com/gvandevray" class="mx-3 box-center" target="_blank">
                <img src="{{ url_domain }}images/logo-gitlab.png" alt="logo gitlab" width="48" title="gitlab">
            </a>
            <a href="{{ url_domain }}admin" class="mx-3 box-center">
                <img src="{{ url_domain }}images/administrateur.png" alt="logo administration" width="48" title="Administration">
            </a>
        </div>
        <div class=" text-center mt-2">
            <p class="p-0 m-0"><a href="{{ url_domain }}privacy" class="privacy">Nos politiques de confidentialité</a></p>
            <p class="p-0 m-0">icon by <a target="_blank" href="https://icons8.com" class="text-white-50">Icons8</a></p>
            <p>©2022 Copyright : Grégory Vandevraye</p>
        </div>
    </footer>
    <div id="footer"></div>
</div>
